/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.second-text {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/
body {
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 1.71429;
}

header {
background-color: white;
position: fixed;
height: 15%;
width: 100%;
}
nav {
  position: fixed;
  display: inline-block;
}

figure {
    margin-top: 0px;
    margin-bottom: 0px;
}

ul li {
  color: #475769;
  display: inline-block;
  font-size: 18px;
  font-weight: bolder;
  list-style: none;
  padding: 15px;
}

ul li:hover {
  color: #E95853;
  }

.logo-header {
display: inline;
width:60px;
position: fixed;
right: 15%;
top: 3%;
}

.text-uppercase {
  text-transform: uppercase;
}

img {
  vertical-align: middle;
}

a {
  background-color: #2ECB70;
  color: #373B47;
  display: inline-block;
  font-weight: bolder;
  margin: 2px;
  padding: 5px;
  text-decoration: none;
  text-transform: uppercase;
}
div {
  text-align: center;
}



/* div .first {
  display: inline-block;
  top: 4px;
}
*/

/*
h2 .first-text{
  font-size: 12px;
  margin-top: 0;
  padding-top: 96px;
}
h1 .second-text {
  margin-top: 0px;
  padding-top: 0px;
}
p .third-text {
  padding-top: 0;
}
*/

.first-image, .second-image, .third-image {
  width: 100px;
  height: 100px;
}

 .second {
   background: #F17C72;
  display:inline-block;
  padding-top: 10px;
  width: 900px;
  height: 810px;
}

.little-first, little-second, little-third div {
  display: block;
}

.unique-image{
  width: 100%;
  height: 50%;
}

h2, h1, p {
  padding-top: 4em;
}

.laptop {
  width: 650px;
  height: 650px;
}

.images .content {
    display: inline-block;
    margin: 20px;
    margin-left: 70px;
}

.content img {
    width: 220px;
    height: 220px;
}

footer {
  background-color: #373B47;
  color: white;
  padding-bottom: 2px;
  text-align: center;
  width: 100%;
}
